/*
|-----------------------
| Utils
|-----------------------
*/
.nomarginbottom {
    margin-bottom: 0 !important;
}

/*
|-----------------------
| General
|-----------------------
*/
body {
    background-color: #123C54 !important;
    padding-top: 20px;
}

body, p, h1, h2, h3, h4, h5, a {
    font-family: Lato !important;
}

/*
|-----------------------
| Profile
|-----------------------
*/
.summary > .profile-img {
    width: 50%;
    margin: 0 auto;
}
.profile-img > img {
    width: 100%;
    border: 1px solid #545C65;
    border-radius: 50%;
}

.summary > .description {
    padding: 10px;
    color: #fff;
}

/*
|-----------------------
| Terminal
|-----------------------
*/
.terminal-header p {
    font-size: 12px;
}
.terminal, .terminal p, .terminal span {
    font-family: "Courier New";
}
.terminal {
    color: #fff !important;
    background: rgba(0,0,0,.8);
    border: 1px solid #656565;
    width:100%;
    height:350px;
    padding: 4px 10px;
}
.terminal .terminal-header p {
    margin: 0;
}
.terminal-body {
    padding-top: 8px;
}
.terminal-body .machine {
    width: 182px;
    float: left;
    margin-right: 2px;
}
.answer-container {
    /*word-break: break-all;*/
}
.terminal-body .input-container {
    width: 60%;
    float: left;
}
.terminal-body .terminal-row input {
    width: 100%;
    border: 0 !important;
    background: none !important;
    outline: none !important;
}
.answer-container {
    overflow: auto;
    max-height: 250px;
}

.execute-container {
    /*padding: 5px 0;*/
}

/*
|-----------------------
| Modals
|-----------------------
*/

.modal-content {
    border-radius: 0 !important;
}
button.btn {
    border-radius: 0 !important;
}
button.btn.btn-default {
    background: #FFFFFF;
    border: 1px solid #BEC1C3;
}
button.btn.btn-primary {
    background: #365490;
}

/*
|-----------------------
| Contact form
|-----------------------
*/
.contact-form input, .contact-form textarea {
    border-radius: 0;
}

.contact-form textarea {
    height:120px !important;
}


@media screen and (max-width: 540px){

    .terminal-body .input-container {
        width: 100%;
    }

}