/*
|-----------------------
| Utils
|-----------------------
*/
.nomarginbottom {
    margin-bottom: 0 !important;
}
.floatleft {
    float:left;
}
/*
|-----------------------
| General
|-----------------------
*/
body {
    background-color: #123C54 !important;
    padding-top: 5em;
}

body, p, h1, h2, h3, h4, h5, a {
    font-family: "Courier new"
}
.form-control {
    border-radius: 0 !important;
}
.form-control:focus {
    border-color: #888888;
    webkit-box-shadow: none !important;
    box-shadow: none !important;
}
button, input[type='submit'] {
    outline:none !important;
}
.contact-form input.btn.btn-default {
    width: 50% !important;
}
input.btn.btn-default {
    background: #fff !important;
    border-radius: 0 !important;
}

/*
|-----------------------
| Profile
|-----------------------
*/
.summary > .profile-img {
    width: 50%;
    margin: 0 auto;
}
.profile-img > img {
    width: 100%;
    border: 1px solid #545C65;
    border-radius: 50%;
}

.summary > .description {
    padding: 10px;
    color: #fff;
}

/*
|-----------------------
| Terminal
|-----------------------
*/
.terminal-header p {
    font-size: 11px;
}
.terminal, .terminal p, .terminal span {
    font-family: "Courier New";
}
.terminal {
    color: #fff !important;
    background: rgba(0,0,0,.8);
    border: 1px solid #656565;
    width:100%;
    height:350px;
    padding: 4px 10px;
}
.terminal .terminal-header p {
    margin: 0;
}
.terminal-body {
    padding-top: 8px;
}
.terminal-body .machine {
    /*width: 182px;*/i
    float: left;
    margin-right: 2px;
}
.answer-container {
    /*word-break: break-all;*/
}
.terminal-body .input-container {
    width: 60%;
    float: left;
}
.terminal-body .terminal-row input {
    width: 100%;
    border: 0 !important;
    background: none !important;
    outline: none !important;
}
.answer-container {
    overflow: hidden;
    max-height: 250px;
}

.execute-container {
    /*padding: 5px 0;*/
}

/*
|-----------------------
| Modals
|-----------------------
*/

.modal-content {
    border-radius: 0 !important;
}
button.btn {
    border-radius: 0 !important;
}
button.btn.btn-default {
    background: #FFFFFF;
    border: 1px solid #BEC1C3;
}
button.btn.btn-primary {
    background: #365490;
}

/*
|-----------------------
| Contact form
|-----------------------
*/
.contact-form input, .contact-form textarea {
    border-radius: 0;
}

.contact-form textarea {
    height:120px !important;
}


@media screen and (max-width: 540px){

    .terminal-body .input-container {
        width: 100%;
    }

}




/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }